doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Project - PL editor
        link(rel="stylesheet", href="/css/pl/en.css")
    body
        .title
            span This page is only to polish lang&nbsp;
            a(href="http://localhost:5000/pl/projects/pl") click to change to polish.