link(rel='preconnect' href='https://fonts.googleapis.com')
link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
link(rel="stylesheet", href="/css/navbar.css")
link(href='https://fonts.googleapis.com/css2?family=Poppins&display=swap' rel='stylesheet')
nav
    .left
        a(href='/en/').title#title1 Emotikonowy
        br
        a(href='/en/').title#title2 Polish node js developer
    .right
        .container
            .tutorial
                ul
                    li Projects
                        i.fa.fa-angle-down
                        ul 
                            a(href="/en/projects/funshop") 
                                li FunShop
                            a(href="/en/projects/todo") 	
                                li Todo list