@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
.title{
    text-decoration: none
}
body{
    margin: 0;
    padding: 0;
}
.but{
    right: 0;
    bottom: 0;
    position: fixed;
    margin: 10px;
}
nav{
    background-color: rgb(31, 31, 31);
    width: 100%;
    height: 150px;
}
.title{
    font-family: 'Poppins', sans-serif;
    padding: 0.5%;
    margin: 0;
    margin-left: 15%;
    margin-top: 10px;
}
#title1{
    color: #40cc40;
    font-size: 40px;
}
#title2{
    color: #bbeebb;
    font-size: 20px;
}
.left{
    width: 50%;
    float: left;
    height: 150px;
}
.right{
    width: 50%;
    float: left;
    height: 150px;
}


body{
  background-color: rgb(85, 85, 85);
}


*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100%;
}

.tutorial {
  width: 80%;
  margin: 5% auto 0 auto;
  background-color: rgb(31, 31, 31);
  max-width: 800px;
}
.tutorial .slider {
  width: 100%;
  height: 300px;
  background-color: #F03861;
}
.tutorial .information {
  width: 100%;
  padding: 20px 50px;
  margin-bottom: 30px;
  font-family: "Open Sans", sans-serif;
}
.tutorial .information h1 {
  color: #333;
  font-size: 1.5rem;
  padding: 0px 10px;
  border-left: 3px solid #F03861;
}
.tutorial .information h3 {
  color: #e0e0e0;
  font-size: 20px;
  font-weight: 300;
  padding: 0px 10px;
  border-left: 3px solid #F03861;
}
.tutorial .information p {
  padding: 10px 0px;
}
.tutorial ul {
  list-style-type: none;
}
.tutorial ul li {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: rgb(206, 206, 206);
  display: inline-block;
  padding: 15px;
  position: relative;
  width: 120px;
  text-align: center;
}
.tutorial ul li ul {
  display: none;
}
.tutorial ul li:hover {
  cursor: pointer;
  background-color: rgb(35, 35, 35);
  
}
.tutorial ul li:hover ul {
  display: block;
  margin-top: 15px;
  width: 125px;
  left: 0;
  position: absolute;
}
.tutorial ul li:hover ul li {
  display: block;
  background-color: rgb(45, 45, 45);
}
.tutorial ul li:hover ul li span {
  float: right;
  color: #f9f9f9;
  background-color: #F03861;
  padding: 2px 5px;
  text-align: center;
  font-size: 0.8rem;
  border-radius: 3px;
}
.tutorial ul li:hover ul li:hover {
  background-color: #e0e0e0;
  color: #333;
}
.tutorial ul li:hover ul li:hover span {
  background-color: #ee204e;
}
a{
    text-decoration: none;
}



@media screen and (max-width: 900px) {
  .left {
    margin-top: 2vh;
  }
  #title2 {
    font-size: 15px;
  }
  #title1 {
    font-size: 30px;
  }
  nav{
    height: 125px;
  }
  .tutorial ul li{
    font-size: 18px;
    width: 100px;
  }
}

@media screen and (max-width: 600px) {
  .left {
    margin-top: 2vh;
  }
  #title2 {
    font-size: 15px;
  }
  #title1 {
    font-size: 25px;
  }
  nav{
    height: 100px;
  }
  .tutorial ul li{
    font-size: 16px;
    width: 90px;
  }
}

@media screen and (max-width: 500px) {
  .left {
    margin-top: 2vh;
  }
  #title2 {
    font-size: 12px;
  }
  #title1 {
    font-size: 20px;
  }
  .tutorial ul li{
    font-size: 14px;
    width: 90px;
  }
}

@media screen and (max-width: 350px) {
  .left {
    margin-top: 2vh;
  }
  #title2 {
    font-size: 12px;
  }
  #title1 {
    font-size: 15px;
  }
  .tutorial ul li{
    font-size: 12px;
    width: 80px;
  }
  .left{
    width: 100vw;
    height: 150px;
  }
  .right{
      width: 100%;
      height: 150px;
      top: 100px;
      transform: translateY(-100px);

  }
  nav{
    height: 150px;
  }
}