head 
    link(rel="stylesheet", href="/css/todo.css")

if lang == 'pl'
    include ../pl-top.pug
    a(href="/en/projects/todo/")
        button.but(type="submit" style="border: 0; background: transparent")
            img( src="/img/usa.png" width="48" height="30" alt="submit")

else if lang == 'en'
    include ../en-top.pug
    a(href="/pl/projects/todo")
        button.but(type="submit" style="border: 0; background: transparent")
            img( src="/img/polish.png" width="48" height="30" alt="submit")
.tasks
    if lang == 'pl'
        form(action="/pl/projects/todo/add", method="post")
            input(type="text", placeholder="Zadanie", class="task",name="task", id="task")
            input(type="submit", value="DODAJ", class="add")
    else if lang == 'en'
        form(action="/en/projects/todo/add", method="post")
            input(type="text", placeholder="Task", class="task",name="task", id="task")
            input(type="submit", value="ADD", class="add")
    ol
        each val in list
            li= val
